<h2 id="title">Welcome to Albert Package Management</h2>

<div>
  {{#link-to 'user.packages'}}My packages{{/link-to}}
  {{#link-to 'admin.packages'}}Package Management{{/link-to}}
  {{#link-to 'admin.users'}}User Management{{/link-to}}
</div>

<hr>

{{outlet}}
