{{outlet}}

<table>
  <tr>
    <th>id</th>
    <th>owner</th>
    <th>checked in</th>
    <th><!-- controls --></th>
  </tr>
{{#each model as |package|}}
  <tr>
    <td>{{package.id}}</td>
    <td>{{package.owner.firstName}}</td>
    <td>{{package.timeCheckin}}</td>
  </tr>
{{/each}}
</table>
