<div class="uk-grid" data-uk-grid-margin>
  <div class="uk-width-1-1">
    <ul class="uk-tab" data-uk-tab>
      <li>{{#link-to 'user.packages.index'}}All{{/link-to}}</li>
      <li>{{#link-to 'user.packages.new'}}New{{/link-to}}</li>
      <li>{{#link-to 'user.packages.pickedup'}}Picked up{{/link-to}}</li>
    </ul>
  </div>
  {{outlet}}
</div>


